@charset "UTF-8";
h1 {
	color:red;
	text-align: center;
	text-decoration: underline;
}
p{
	color: blue;
	font-size: 30pt;
}
.red{
	color: red;
}
#myid{
	color:green;
	font: bold 20pt serif,sans-serif;
	/*끝이 날카롭게, 뭉툭하게
	font 순서는 font-style font-size font-family 순
	*/
}